<% layout('/layouts/boilerplate.ejs') %>


<div class="row">
  <div class="col-8 offset-2">
    <h3>Create a new listing</h3>
    <form action="/listings" method="post" novalidate class="needs-validation" enctype="multipart/form-data">
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          type="text"
          name="listing[title]"
          placeholder="enter title"
          class="form-control"
          id="title"
          required
        />
        <div class="valid-feedback">Title looks good!</div>
        <div class="invalid-feedback">Title is not good!</div>
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
          name="listing[description]"
          placeholder="enter description"
          class="form-control"
          id="description"
          required
        ></textarea>
        <div class="valid-feedback">Description is good!</div>
        <div class="invalid-feedback">Description is not good!</div>
      </div>

      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="price" class="form-label">Price</label>
          <input
            type="number"
            name="listing[price]"
            placeholder="enter price"
            class="form-control"
            id="price"
            required
          />
          <div class="valid-feedback">Price looks good!</div>
          <div class="invalid-feedback">Price is not good!</div>
        </div>

        <div class="mb-3 col-md-8">
          <label for="country" class="form-label">Country</label>
          <input
            type="text"
            name="listing[country]"
            placeholder="enter country"
            class="form-control"
            id="country"
            required

          />
          <div class="valid-feedback"> looks good!</div>
        <div class="invalid-feedback"> Fill in country!</div>
        </div>
      </div>

      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input
          type="text"
          name="listing[location]"
          placeholder="enter location"
          class="form-control"
          id="location"
          required
        />
        <div class="valid-feedback"> looks good!</div>
        <div class="invalid-feedback">Location is not correct!</div>
      </div>

      

       <div class="mb-3">
        <label for="image" class="form-label">Upload  Image</label>
        <input
          type="file"
          name="listing[image]"
          class="form-control"
          id="image"
          required
        />
      </div>
      <br />
      <button class="btn btn-dark add-btn">Add</button>
      <br /><br /><br />
    </form>
  </div>
</div>
